body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
     background-image: url('file:///C:/Users/admin/Downloads/vecteezy_black-frame-overlapping-paper-layers-with-pink-or-red-edges_831138/bg1_(3).jpg');
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
}

.registration-container {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

p {
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}